.sidepanel {
    height: 340px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 230px;
    left: 50px;
    z-index: 3;
    &_divider {
        width: 2px;
        height: 70px;
        background-color: #000000;
    }

}